/* order.wxss */

.container {
   margin-top: 0rpx;
}

.title-bar-container {
   margin-top: 90rpx;
   text-align: center;
   font-size: 30rpx;
   font-weight: 500;
}

.title-bar-container text {
   margin-left: -120rpx;
}

.title-bar-button {
   float: left;
   font-size:35rpx;
   font-weight:300;
   color:#888;
   width:100rpx;
   height:70rpx;
}

.options-spacing {
   width: 100%;
   height: 25rpx;
   background-color: #f5f5f5;
}

.left {
   float: left;
}

.right {
   float: right;
}

.edit-address-container {
   font-size: 22rpx;
}

.address-detail-container {
  margin-top: 30rpx;
  color: #555;
  font-weight: 300;
  border-top: 2rpx solid #e2e2e2;
  font-size: 25rpx;
}

.address-detail-row {
  width:100%;
  height:90rpx;
  border-bottom: 2rpx solid #e2e2e2;
  padding:0 20rpx;
  box-sizing: border-box;
}

.address-user-title {
  line-height:90rpx;
  display:inline-table;
  margin-right:20rpx;
}

.address-user-name-value {
  display:inline-table;
  width:450rpx;
}

.address-user-name-value input:first-child, .short  {
  width:400rpx;
}

.address-note {
  display:inline-table;
  height:90rpx;
  line-height:90rpx;
  width:90rpx;
  text-align:center;
  font-size:35rpx;
}

input {
  height:90rpx;
  line-height:90rpx;
  font-weight: 500;
}

.address-save-button-container {
  margin-top:80rpx;
  padding:0 80rpx;
}

.picker {
  font-weight: 500;
  line-height:90rpx;
}

.user-id-upload-button {
  height:50rpx !important;
  background-color:#eee !important;
  width:120rpx;
  border-radius:30rpx;
  text-align:center;
  line-height:50rpx;
  margin-top:18rpx;
  border:1rpx solid #ddd;
}

button {
  background-color: #ed1941;
  height: 80rpx;
  color: #fff;
  font-size: 25rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
}

.user-address-tag {
  border-radius: 18rpx;
  padding: 4rpx 15rpx;
  color: #fff;
  font-size: 20rpx;
  font-weight: 300;
  background-color: #d991f1;
  margin-right: 10rpx;
}